include *.txt
include *.md
include *.pkl
recursive-include ./cr_analysis/*

include cr_analysis/datasets/raw/train.csv
include cr_analysis/datasets/raw/test.csv
include cr_analysis/trained_models/*.pkl
include cr_analysis/VERSION
include cr_analysis/config.yml

include ./requirements/requirements.txt
include ./requirements/test_requirements.txt
exclude *.log
exclude *.cfg

recursive-exclude * __pycache__
recursive-exclude * *.py[co]